/* KAVA Dashlets CSS */

.crm-container h3.kavadashboard-header {
    background-color: #215701;
    opacity: 0.65;
    font-weight: normal;
    font-size: 13px;
}

.crm-container #kavadashboard-search-form input {
    border: 1px solid #bbb;
    background: none !important;
    padding: 3px 3px !important;
    font-size: 1em;
}

.crm-container #kavadashboard-search-form input:focus {
    border: 1px solid #222;
}

.crm-container #kavadashboard-search-name {
    width: 45% !important;
    margin-right: 2%;
}

.crm-container #kavadashboard-search-apb {
    width: 45% !important;
}

.crm-container #kavadashboard-search-spinner {
    display: none;
    width: 100%;
    height: 80px;
    background: url('spinner.gif') center 30px no-repeat;
}

.crm-container #kavadashboard-search-results {
    display: none;
    min-height: 50px;
}

.crm-container #kavadashboard-search-results p {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.crm-container #kavadashboard-search-results table {
    border: 0;
    margin: 10px 0 15px 0;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 14px;
    line-height: 0.9rem;
}

.crm-container #kavadashboard-search-results tr {
    height: 0.9rem;
    overflow: hidden;
    white-space: nowrap
}
.crm-container tr td {
    overflow: visible !important;
}

.crm-container #kavadashboard-search-results td.kavadashboard-result-id {
    text-align: right;
}

.crm-container #kavadashboard-search-results td:last-child {
    border: none !important;
}